Repository psi-projekat/psi-projekat, pull requests merged in 2019-05, with the labels that each got.

#37 Izvestaj iz formalne inspekcije za drugi tim
  doc/projekat/formalna-inspekcija/izvestaj-o-defektima.pdf
  doc/projekat/formalna-inspekcija/izvestaj-sa-sastanka.pdf
  doc/projekat/formalna-inspekcija/log-inspektora-1.pdf
  doc/projekat/formalna-inspekcija/log-inspektora-2.pdf
  doc/projekat/formalna-inspekcija/log-inspektora-3.pdf
  doc/projekat/formalna-inspekcija/log-inspektora-4.pdf
Labels: meta, ready

#64 Inicijalni
  doc/projekat/inicijalni-dokument/projektni-zadatak.docx
  doc/projekat/inicijalni-dokument/projektni-zadatak.pdf
Labels: doc

#66 Избор програмског језика у сандбоксу
  .travis.yml
  src/frameworks/omikron.js
  src/node/format/number.js
  src/node/node/electron-app.js
  src/node/omikron/index.js
  src/node/programming-language/ast.js
  src/node/programming-language/common-graph-nodes/array.js
  src/node/programming-language/common-graph-nodes/execute.js
  src/node/programming-language/common-graph-nodes/map.js
  src/node/programming-language/common-graph-nodes/set.js
  src/node/programming-language/engine.js
  src/node/programming-language/langs-list.json
  src/node/programming-language/langs/eiv/compiler.js
  src/node/programming-language/langs/eiv/interpreter.js
  src/node/programming-language/langs/eiv/lambda/index.js
  src/node/programming-language/langs/eiv/lambda/invoke.js
  src/node/programming-language/langs/eiv/parser.js
  src/node/programming-language/langs/eiv/syntax/script.txt
  src/node/programming-language/langs/functional/compiler.js
  src/node/programming-language/langs/functional/interpreter.js
  src/node/programming-language/main.js
  src/node/programming-language/parser-base.js
  src/node/programming-language/program.js
  src/node/programming-language/programming-language.js
  src/node/programming-language/stack-frame.js
  src/node/programming-language/thread.js
  src/node/serializable-graph/index.js
  src/node/servers/http/index.js
  src/www/projects/main/dom/pages/sandbox.js
  src/www/projects/main/dom/sandbox/index.js
  src/www/projects/main/dom/sandbox/lang-choice.js
  src/www/projects/main/main.js
  src/www/projects/main/style.css
Labels: omikron, prog langs, simulator, web app

#68 SSU
  doc/projekat/ssu/brisanje-profila.md
  doc/projekat/ssu/dodavanje-posta.md
  doc/projekat/ssu/kreiranje-takmicenja.md
  doc/projekat/ssu/nadogradnja-funkcionalnosti.md
  doc/projekat/ssu/odjava-sa-takmicenja.md
  doc/projekat/ssu/odjava.md
  doc/projekat/ssu/pokretanje-sandboksa.md
  doc/projekat/ssu/prijava-na-takmicenje.md
  doc/projekat/ssu/prijava.md
  doc/projekat/ssu/promena-jezika.md
  doc/projekat/ssu/promena-podataka-profila.md
  doc/projekat/ssu/registracija.md
  doc/projekat/ssu/unapredjenje-korisnika-u-moderatora.md
Labels: doc

#70 Додате картице у сандбокс
  config/db-init.txt
  src/frameworks/omikron.js
  src/node/simulator/main.js
  src/node/simulator/material.js
  src/node/simulator/render-engine.js
  src/node/wavefront/index.js
  src/node/wavefront/main.js
  src/www/projects/main/dom/frame/frame.js
  src/www/projects/main/dom/frame/index.js
  src/www/projects/main/dom/frame/selectable.js
  src/www/projects/main/dom/frame/tab-content.js
  src/www/projects/main/dom/frame/tab-strip.js
  src/www/projects/main/dom/frame/tab.js
  src/www/projects/main/dom/pages/sandbox.js
  src/www/projects/main/dom/sandbox/canvas-container.js
  src/www/projects/main/dom/sandbox/index.js
  src/www/projects/main/strings/locales/sr-cyrl-rs/main.json
  src/www/projects/main/style.css
Labels: simulator, web app

#105 Нови објекти додати у симулатор, исправљене неке грешке
  doc/projekat/readme.md
  doc/projekat/ssu/readme.md
  src/frameworks/omikron.js
  src/node/node/electron-app.js
  src/node/prog-langs/common-graph-nodes/error.js
  src/node/prog-langs/common-graph-nodes/fatal-error.js
  src/node/prog-langs/common-graph-nodes/index.js
  src/node/prog-langs/common-graph-nodes/read.js
  src/node/prog-langs/common-graph-nodes/security-error.js
  src/node/prog-langs/common-graph-nodes/unknown-error.js
  src/node/prog-langs/compiler-base.js
  src/node/prog-langs/engine.js
  src/node/prog-langs/langs/eiv/compiler.js
  src/node/prog-langs/langs/eiv/syntax/script.txt
  src/node/prog-langs/langs/functional/compiler.js
  src/node/prog-langs/langs/functional/interpreter.js
  src/node/prog-langs/langs/functional/simulator.js
  src/node/prog-langs/machine.js
  src/node/prog-langs/program.js
  src/node/prog-langs/thread.js
  src/node/servers/data/methods.js
  src/node/simulator/discrete-ray.js
  src/node/simulator/grid.js
  src/node/simulator/material.js
  src/node/simulator/model.js
  src/node/simulator/models/animal.hex
  src/node/simulator/models/tree.hex
  src/node/simulator/object.js
  src/node/simulator/render-engine.js
  src/node/simulator/textures/animal.png
  src/node/simulator/textures/tree.png
  src/node/simulator/tile.js
  src/node/simulator/vector.js
  src/www/projects/main/dom/pages/login.js
  src/www/projects/main/dom/pages/register.js
  src/www/projects/main/dom/pages/sandbox.js
  src/www/projects/main/dom/sandbox/configuration.js
  src/www/projects/main/dom/sandbox/index.js
  src/www/projects/main/dom/sandbox/lang-choice.js
  src/www/projects/main/main.js
  src/www/projects/main/strings/locales/sr-cyrl-rs/main.json
  src/www/projects/main/style.css
Labels: database, omikron, optimization, server, simulator, web app

#106 Render engine
  src/node/prog-langs/common-graph-nodes/read.js
  src/node/prog-langs/langs/functional/interpreter.js
  src/node/prog-langs/langs/functional/simulator.js
  src/node/simulator/object.js
  src/node/simulator/render-engine.js
  src/node/simulator/vector.js
  src/www/projects/main/dom/pages/sandbox.js
  src/www/projects/main/main.js
Labels: simulator

#107 Class counter
  src/node/class-counter/main.js
Labels: meta

#108 Ispravljanje ssu Dodavanje posta
  doc/projekat/ssu/dodavanje-posta.md
Labels: doc

#110 Нови ентитети у симулатору
  src/node/prog-langs/compiler-base.js
  src/node/prog-langs/engine.js
  src/node/prog-langs/langs/functional/simulator.js
  src/node/prog-langs/machine.js
  src/node/prog-langs/parser-base.js
  src/node/prog-langs/program.js
  src/node/serializable-graph/index.js
  src/node/simulator/material.js
  src/node/simulator/model.js
  src/node/simulator/models/coin.hex
  src/node/simulator/object.js
  src/node/simulator/render-engine.js
  src/node/simulator/textures/coin.png
  src/node/simulator/vector.js
  src/www/projects/main/dom/pages/sandbox.js
  src/www/projects/main/strings/locales/sr-cyrl-rs/main.json
Labels: simulator

#112 Оптимизација елемената
  src/www/projects/main/dom/element.js
Labels: optimization, web app

#113 Промена профилне слике и још неке ствари додате
  config/db-init.txt
  src/node/avatar/index.js
  src/node/default-avatar/index.js
  src/node/init/electron.js
  src/node/media/index.js
  src/node/prog-langs/engine.js
  src/node/prog-langs/langs/functional/simulator.js
  src/node/servers/data/methods.js
  src/node/simulator/material.js
  src/node/simulator/object.js
  src/node/simulator/render-engine.js
  src/node/simulator/tile.js
  src/node/simulator/vector.js
  src/php/queries/get-nick-from-token.php
  src/www/projects/main/backend/server.js
  src/www/projects/main/dom/dom.js
  src/www/projects/main/dom/pages/sandbox.js
  src/www/projects/main/dom/pages/user-profile.js
  src/www/projects/main/dom/user-profile/avatar-file-button.js
  src/www/projects/main/dom/user-profile/avatar.js
  src/www/projects/main/strings/locales/sr-cyrl-rs/main.json
  src/www/projects/main/strings/locales/sr-cyrl-rs/script-template.txt
  src/www/projects/main/style.css
Labels: database, media, server, web app
